* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

header {
    height: 100vh;
    position: relative;
    color: #263778;
    background-size: cover;
    background-position: 0 -25vh;
    overflow: hidden;

}

header img.andrzej {
    position: absolute;
    right: 80px;
    bottom: -80px;
    height: 110vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

header img.pis {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    z-index: -1;
    opacity: .1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

header h1 {
    font-size: 110px;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
}

header h2 span {
    font-weight: 700;
}

header h2 span.i {
    color: #E51C3E;
}

.wrapper {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 50px;
}

section.about {
    height: 100vh;
    position: relative;
    background-color: #273c75;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

section.about img {
    position: absolute;
    height: 80vh;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
}

div.pWrapper {
    position: absolute;
    width: 50%;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: justify;
}

span.name {
    font-weight: 700;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 45vh;
    background-color: rgba(34, 34, 34, 0.2);
}

section.gallery img {
    width: 20%;
    z-index: -1;
}

section.gallery img:hover {
    transform: scale(2);
}

section.program {
    color: #273c75;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    /* height: 130vh; */
}

section.program h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    padding: 30px;
}

section.program ul {
    display: flex;
    font-size: 0;
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

section.program ul li {
    font-size: 24px;
    text-transform: uppercase;
    width: 25%;
    padding: 25px;
    font-weight: 700;
}

section.program ul li i {
    color: #E51C3E;
    margin-bottom: 30px;
    display: block;
    font-size: 80px;
    padding: 10px;
}

section.program ul li p {
    text-transform: none;
    margin-top: 30px;
    font-weight: 400;
    font-size: 19px;
    /* text-align: justify; */
}

footer {
    height: 10vh;
    background-color: #2f3542;
    text-align: center;
    line-height: 10vh;
    color: white;
}