/* font-weight 300, 400, 600 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

:root {
    --pink: #ff6b81;
    --blue: #70a1ff;
    --green: #7bed9f;
    --grey: #dfe4ea;
    --black: #2f3542;
}

html {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #2f3542;
}

body img {
    width: 100%;
}

header {
    height: 37vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(bg.jpg);
    background-size: contain;
    background-attachment: fixed;
}

header h1 {
    color: white;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    line-height: 37vh;
}

section.about {
    padding: 30px 10vw 30px;
    text-align: justify;
    background-color: #eee;
    border-bottom: 1px solid var(--black)
}

;
section.about p {
    max-width: 80%;
    margin: 0 auto;
}

section.members h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 26px;
    line-height: 66px;
}

div.pimage {
    padding: 20px 0 25px;
}

section.members p {
    text-align: center;
    font-size: 21px;
}

.roma p {
    line-height: 61px;
}

div.roma,
div.darek,
div.rafal,
div.dawid {
    border-bottom: 1px solid var(--black);
}

div.darek {
    background-color: #eee;
}

div.dawid {
    background-color: #eee;
}

section.contact {
    padding: 30px 10vw 30px;
    text-align: center;
    border-bottom: 1px solid var(--black);
}

section.contact a {
    color: #2f3542;
    font-weight: 600;
    text-decoration: none;
}

section.contact a.button {
    display: block;
    color: #2f3542;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 20px 0px;
    margin: 30px auto 10px;
    max-width: 300px;
    border: 2px solid #2f3542;
}

section.contact h1 {
    padding-bottom: 20px;
    font-size: 26px;
}

section.audiolight {
    padding: 30px 10vw 30px;
    text-align: justify;
    background-color: #eee;
}

section.audiolight h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 26px;
}

section.audiolight a {
    display: block;
    color: #2f3542;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 20px 0px;
    margin: 30px auto 10px;
    max-width: 300px;
    border: 2px solid #2f3542;
}

footer {
    padding: 10px 0;
    background-color: var(--black);
    color: var(--grey);
    text-align: center;
}

footer a {
    color: var(--green);
    text-decoration: none;
}

@media (min-width: 1024px) {
    header {
        background-size: cover;
        height: 80vh;
    }
    header h1 {
        line-height: 80vh;
        font-size: 80px;
    }
    section.about,
    section.members,
    section.contact,
    section.audiolight {
        max-width: 90%;
        margin: 0 auto;
    }
    section.members h2 {
        font-size: 35px;
    }
    section.members p {
        font-size: 25px;
    }
    section.about {
        background-color: #fff;
        border-bottom: none;
    }
    section.about p {
        font-size: 30px;
        padding: 40px 0;
    }
    div.roma,
    div.darek,
    div.rafal,
    div.dawid {
        height: 690px;
        float: left;
        width: 50%;
        border-bottom: none;
    }
    div.roma,
    div.rafal {
        background-color: #eee;
    }
    div.roma p {
        margin-top: -10px;
    }
    div.roma img,
    div.darek img,
    div.rafal img,
    div.dawid img {
        width: 100%;
    }
    section.last {
        overflow: hidden;
    }
    section.contact,
    section.audiolight {
        position: relative;
        font-size: 20px;
        margin: 50px 0;
        text-align: center;
        width: 50%;
        height: 60vh;
        float: left;
        background-color: #fff;
        border-bottom: none;
    }
    section.contact a.button,
    section.audiolight a {
        width: 300px;
        position: absolute;
        bottom: -20px;
        left: 20%;
        right: 20%;
        transition: 0.4s;
    }
    section.contact a.button:hover,
    section.audiolight a:hover {
        color: white;
        background-color: #2f3542;
    }
    footer {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1550px) {
    section.last {
        max-width: 90%;
        margin: 0 auto;
    }
    section.audiolight,
    section.contact {
        padding-left: 30px;
        padding-right: 30px;
    }
}