/* Core Styles */
@import "compass/css3";

body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: white;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}

img{
	display: block;
	width: 100%;
	height: auto;
}

.navbar-brand img{
	height: 50px;
	width: auto;
}

h1, h2, h3{
	margin: 0;
	padding: 1em 0;
}

p{
	margin: 0;
	padding: 1em 0;
}


.btn {
	display: inline-block;
	background: transparent;
	color: #2c3e50;
	text-decoration: none;
	padding: 1em 2em;
	border: 1px solid #2c3e50;
	margin: 1.5em 0;
}

.btn:hover{
	background: #eaeaea;
	color: #333;
}

/* Header Showcase */

#showcase {
	min-height: 250px;
	color: #fff;
	text-align: center;
}

#showcase .bg-image{
	position: absolute;
	background: #333 url(img/codes-computers-data-159299.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
	z-index: -1;
	opacity: 0.8;
}

#showcase h1 {
	padding-top: 250px;
	padding-bottom: 0;

}

#showcase .content-wrap, #section-a .content-wrap {
	padding: 0 1.5em;
}

/* Section A */

#section-a {
	background: #2c3e50;
	color: white;
	padding-bottom: 2em;
}

#section-a img{
	position: center;
}

/* Section B */

#section-b{
background-color: #FFC361;
}
.card{
	border-color: #FFC361;
	background-color: #FFC361;
}

.card p{
	padding: 0;
	background-color: #FFC361;
}

.card h3{
	padding-bottom: 0;
	background-color: #FFC361;
}
#section-b{
	padding: 2em 1em 1em;
	border-color: #FFC361;
}

#section-b ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #FFC361;
}

#section-b li{
	margin-bottom: 1em;
	background:#FFC361;
	color: #333;
}

.card-content{
	padding: 0.2em;
	min-height: 150px;
	background-color: #FFC361;

}

#section-b img{
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #FFC361;
}

/* Section C */

#section-c {
	display: flex;
	flex-direction: column;
	background: white;
	color:#2c3e50;
	padding: 2em;
}

/* Section D / Boxes */

#section-d .box{
	padding: 2em;
	background-color: #FFC361;
	color: #2c3e50;
}

#section-d .box:first-child {
	background: #00C291;
	color: white;
}

/* Footer */

#main-footer {
	padding: 2em;
	background: #2c3e50;
	color: #fff;
	text-align: center;
}

#main-footer a{
	color: #00C291;
	text-decoration: none;
}

/* Media Queries */

@media(min-width: 200px){
	#section-c iframe{
		width: 250px;
		height: 150px;
	}
}

@media(min-width: 400px){
	#section-c iframe{
		width: 360px;
		height: 200px;
	}
}

@media(min-width: 600px){
	#section-c iframe{
		width: 460px;
		height: 315px;
	}
}

@media(min-width: 700px){

	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	#section-a .content-text{
		columns: 2;
		column-gap: 2em;
	}

	#section-a .content-text p {
		padding-top: 0;
	}

	.content-wrap, #section-b ul{
		grid-column: 2/4;
	}

	.box, #main-footer div {
		grid-column: span 2;
	}

	#section-b ul{
		display: flex;
		justify-content: space-around;
		
	}

	#section-b li{
		width: 23%;
	}

	#showcase {
	min-height: 650px;
	color: #fff;
	text-align: center;}

	#showcase .bg-image{
	position: absolute;
	background: #333 url(img/codes-computers-data-159299.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	z-index: -1;
	opacity: 0.8;
}

#section-c iframe{
	width: 560px;
	height: 315px;
}

}

@media (min-width: 1000px){
	#section-c {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: white;
		color:#2c3e50;
		padding: 2em;
}
#section-c iframe{
	width: 460px;
	height: 280px;
}
}

@media (min-width: 1100px){
	#section-c {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: white;
		color:#2c3e50;
		padding: 2em;
}
#section-c iframe{
	width: 500px;
	height: 300px;
}
}

@media (min-width: 1200px){
	#section-c {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background: white;
		color:#2c3e50;
		padding: 2em;
}

#section-c iframe{
	width: 560px;
	height: 360px;
}

}
